<footer class="social-footer">
    <div class="social-footer-icons">
        <a class="footer-icons" href="https://github.com/pmatarodrigues" title="Github profile, nothing much there, yet"
            target="_blank" rel="noopener noreferrer">Gh</a>
        <a class="footer-icons" href="https://linkedin.com/in/pmatarodrigues"
            title="Linkedin profile, nothing much there, yet" target="_blank" rel="noopener noreferrer">In</a>
        <a class="footer-icons" href="https://pmatarodrigues.com" title="Linkedin profile, nothing much there, yet"
            target="_blank" rel="noopener noreferrer">Web</a>
        <a class="footer-icons" href="{{site.url}}{{ site.baseurl }}/atom.xml" title="Feed RSS" target="_blank"
            rel="noopener noreferrer">Rss</a>
        <!-- <a href="https://github.com/P0WEX/Gesko" title="Browse the code" target="_blank" rel="noopener noreferrer"><i
        class="fa fa-code" aria-hidden="true"></i></a> -->
    </div>
</footer>